body {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.terms-box {
  position: relative;
  white-space: nowrap;
}

.terms-box p {
  position: absolute;
  background-color: #ffffff;
  color: #242424;
  padding: 5px 10px;
  top: -50px;
}

.topping-card {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.topping-card:has(input:checked) {
  box-shadow: 0 0 15px #ffffff;
}

.topping-card input {
  display: none;
}
